doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.jumbotron
      div.container
        ul.nav.nav-pills
          li.active
            a(href="/") Главная
          - if (user) {
          li
           a(href="/chat") Чат
          - }

          - if (!user) {
          li
            a(href="/login") Войти
          - } else {
          li
            a( onclick="$('<form method=POST action=/logout>').submit();") Выйти
          -  }
    main
      .container
        block content
    script(src="jquery.min.js")
    script(src="main.js")
