doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.jumbotron
      div.container
        - var active = currentUrl

        mixin item(title, url, logout)
          - if (!logout) {
          li(class=active == url ? 'active' : '')
            a(href=url)= title
          - } else {
          li
            a(class="logout" onclick="$('<form method=POST action=/logout>').submit();")= title
          - }  


        ul.nav.nav-pills
          +item('Главная', '/')
          - if (user) {
          +item('Чат', '/chat')
          - }
          - if (!user) {
          +item('Войти', '/login')
          - } else {
          +item('Выйти', '/logout', 'logout')
          - }
    main
      .container
        block content
    script(src="jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="main.js")
